<div id="footerDiv1">
  <img src="../images/grape-fruit.png" id="footerImg">
  <p>Welcome to your basic farm management app. This web app is built to help you out with your land plots, your farm
    tasks and also the weather forecast for your region. You can create an account, save your land plots coordinates
    simply using a map, keeping information about your land plots, save your tasks, check the weather in your location
    and update all your personal information at any time. 
  </p>
</div>


</body>

</html>